.calc-button{
    height: 80px;
    width: 80px;
    text-align: center;
}
.text{
    font-size: 40px;
}

.container{
    display: flex;
}
.enter{
    flex: auto;
    margin-right: 40px;
   
}
.icon{
    flex: auto;
    margin-top: 8px;
    margin-left: 30px;
    height: 100%;
    width: 100%;
}
.turn{
    margin-top: 5%;
    font-size: large;
    font-weight: bolder;
    text-align: right;
}

ion-title{
    font-size: larger;
}
